body{background-color:#EAF6F6;">s
}
img{
height:200px;}

hr{

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;}
h1{
  color:#66BFBF;
}
h3{
  Color:#66BFBF;
}
h2{
  color:#A9C6DE;
}
